alembic==1.7.7
beautifulsoup4==4.11.1
Flask==2.2.2
Flask_Migrate==3.0.0
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.1
joblib==1.0.1
numpy==1.21.4
pandas==1.4.2
# requests==2.22.0
rich==12.5.1
scikit_learn==1.0.2
selenium==4.4.3
SQLAlchemy==1.4.39
tqdm==4.62.3
WTForms==2.3.3
gunicorn
python-dotenv == 0.20.0
psycopg2 == 2.9.3